*{
  padding:0;
  margin:0;
}
.main{
  width:100%;
  height:100%;
  background-image:url("./reg_bg_min.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position:0;
  background-size: 100% 100%;
}
.content{
  width:400px;
  height:500px;
  background-color:rgb(240,240,240);
  border-radius:20px;
  position:fixed;
  top:10%;
  left:55%;
  padding:25px 40px;

}
p{
  font-size:12px;
  margin-top:-12px;
}
a{
  color:blue
}
label{
  font-size:15px;
  color:rgb(104,104,104);
}
.little-content{
  height:40px;
  margin-top:5px;
  position:relative;

}
#phone,#username,#password{
  width:76%;
  background-color:white; 
  height:35px; 
  padding-left:10px;
  outline:none;
  border:1px solid #E0E0E0;
  border-radius:5px;
  position:absolute;
  left:20%
}
#number-yan{
  width:50%;
  background-color:white; 
  height:35px;
  outline:none;
  border:1px solid #E0E0E0;
  border-radius:5px;
  padding-left:10px; 
  position:absolute;
  left:20%
}
#number-button{
  width:24%;
  background-color:white;
  height:37px;
  font-size:10px;
  outline:none;
  border:1px solid #E0E0E0;
  color:black;
  border-radius:5px;
  position:absolute;
  left:75%;
}
.list-content{
  padding-top:10px; 
}
#button-zhuce-wai{
  width:100%;
  height:45px;
  border-radius:30px;
   font-size:16px;
  margin-top:20px;
  overflow:hidden;
}
#button-zhuce{
  width:100%;
  height:45px;
  background-color:#3366FF;
  color:white;
  border:2px solid #3366FF;
  font-size:16px;
  opacity:0.6;
  cursor:pointer;
}
#bottom-input{
  margin-top:15px;
  font-size:10px;
  padding-left:10%
}
#tooltip{
  width:335px;
  height:35px;
  background:url("https://passport.baidu.com/static/passpc-account/img/reg/check-username-bg-2x.png") no-repeat;
  background-size:335px 35px;
  font-size:8px;
  color:white;
  z-index:100;
  display:none;
  padding-top:5px;
  padding-left:5px;
  position:absolute;
  top:17%;
  left:25%
}
#xiaotubiao{
  width:20px;
  height:20px;
  position:absolute;
  top:25%;
  left:93%;
}

#tooltip1{
  width:300px;
  height:65px;
  background:url("https://passport.baidu.com/static/passpc-account/img/check-pwd-bg-2x.png") no-repeat;
  background-size:300px 65px;
  font-size:10px;
  color:white;
  z-index:100;
  padding:18px 10px;
  display:none;
  position:absolute;
  top:32%;
  left:29%
}
#tooltip1 p{
  height:27px
}
#username-valiation,#tel-valiation,#password-valiation,#yanzheng-valiation{
  font-size:10px;
  display:none;
  color:red;
  padding-left:80px;
}
